*, body{
	box-sizing: border-box;
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
}
.red{
	background-color:red;
}
.block{
	display: flex;
	gap: 20px;
	justify-content: center;
	margin: 50px;
	background-color:darkgrey;
	padding: 30px;
}
button{
	padding: 20px 40px; 
	background-color:lightgreen;
	transition: all 1s ease 0s;
}
.tomato {
	background-color:tomato;
}
